@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.home {
  background-image: url(/store.png);
  background-position: center;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

h1 {
  line-height: 1.1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  font-size: 1em;
  color: white;
  font-family: inherit;
  background-color: #3d3d3d;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.footer__icon {
  width: 3rem;
  height: 3rem;
  fill: white;
  transition: 200ms linear;
  cursor: pointer;
}


.footer__icon:hover {
  transform: translateY(-5px);
}